@media (min-width: 1200px) {
  .qrow {
    margin-left: -30px;
    *zoom: 1;
  }
  .qrow:before,
  .qrow:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .qrow:after {
    clear: both;
  }
  [class*="qspan"] {
    float: left;
    min-height: 1px;
    margin-left: 0px;
  	margin-right: 3px;
  }
  .qcontainer {
    width: 980px;
  }
  .qspan12 {
    width: 1170px;
  }
  .qspan11 {
    width: 1070px;
  }
  .qspan10 {
    width: 970px;
  }
  .qspan9 {
    width: 870px;
  }
  .qspan8 {
    width: 770px;
  }
  .qspan7 {
    width: 670px;
  }
  .qspan6 {
    width: 570px;
  }
  .qspan5 {
    width: 470px;
  }
  .qspan4 {
    width: 370px;
  }
  .qspan3 {
    width: 265px;
  }
  .qspan2 {
    width: 170px;
  }
  .qspan1 {
    width: 140px;
  }
  .qoffset12 {
    margin-left: 1230px;
  }
  .qoffset11 {
    margin-left: 1130px;
  }
  .qoffset10 {
    margin-left: 1030px;
  }
  .qoffset9 {
    margin-left: 930px;
  }
  .qoffset8 {
    margin-left: 830px;
  }
  .qoffset7 {
    margin-left: 730px;
  }
  .qoffset6 {
    margin-left: 630px;
  }
  .qoffset5 {
    margin-left: 530px;
  }
  .qoffset4 {
    margin-left: 430px;
  }
  .qoffset3 {
    margin-left: 330px;
  }
  .qoffset2 {
    margin-left: 230px;
  }
  .qoffset1 {
    margin-left: 130px;
  }
  .qrow-fluid {
    width: 100%;
    *zoom: 1;
  }
  .qrow-fluid:before,
  .qrow-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .qrow-fluid:after {
    clear: both;
  }
  .qrow-fluid [class*="qspan"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .qrow-fluid [class*="qspan"]:first-child {
    margin-left: 0;
  }
  .qrow-fluid .controls-qrow [class*="qspan"] + [class*="qspan"] {
    margin-left: 2.564102564102564%;
  }
  .qrow-fluid .qspan12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .qrow-fluid .qspan11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
  }
  .qrow-fluid .qspan10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
  }
  .qrow-fluid .qspan9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
  }
  .qrow-fluid .qspan8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
  }
  .qrow-fluid .qspan7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
  }
  .qrow-fluid .qspan6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
  }
  .qrow-fluid .qspan5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
  }
  .qrow-fluid .qspan4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }
  .qrow-fluid .qspan3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  .qrow-fluid .qspan2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
  }
  .qrow-fluid .qspan1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
  }
  .qrow-fluid .qoffset12 {
    margin-left: 105.12820512820512%;
    *margin-left: 105.02182214948171%;
  }
  .qrow-fluid .qoffset12:first-child {
    margin-left: 102.56410256410257%;
    *margin-left: 102.45771958537915%;
  }
  .qrow-fluid .qoffset11 {
    margin-left: 96.58119658119658%;
    *margin-left: 96.47481360247316%;
  }
  .qrow-fluid .qoffset11:first-child {
    margin-left: 94.01709401709402%;
    *margin-left: 93.91071103837061%;
  }
  .qrow-fluid .qoffset10 {
    margin-left: 88.03418803418803%;
    *margin-left: 87.92780505546462%;
  }
  .qrow-fluid .qoffset10:first-child {
    margin-left: 85.47008547008548%;
    *margin-left: 85.36370249136206%;
  }
  .qrow-fluid .qoffset9 {
    margin-left: 79.48717948717949%;
    *margin-left: 79.38079650845607%;
  }
  .qrow-fluid .qoffset9:first-child {
    margin-left: 76.92307692307693%;
    *margin-left: 76.81669394435352%;
  }
  .qrow-fluid .qoffset8 {
    margin-left: 70.94017094017094%;
    *margin-left: 70.83378796144753%;
  }
  .qrow-fluid .qoffset8:first-child {
    margin-left: 68.37606837606839%;
    *margin-left: 68.26968539734497%;
  }
  .qrow-fluid .qoffset7 {
    margin-left: 62.393162393162385%;
    *margin-left: 62.28677941443899%;
  }
  .qrow-fluid .qoffset7:first-child {
    margin-left: 59.82905982905982%;
    *margin-left: 59.72267685033642%;
  }
  .qrow-fluid .qoffset6 {
    margin-left: 53.84615384615384%;
    *margin-left: 53.739770867430444%;
  }
  .qrow-fluid .qoffset6:first-child {
    margin-left: 51.28205128205128%;
    *margin-left: 51.175668303327875%;
  }
  .qrow-fluid .qoffset5 {
    margin-left: 45.299145299145295%;
    *margin-left: 45.1927623204219%;
  }
  .qrow-fluid .qoffset5:first-child {
    margin-left: 42.73504273504273%;
    *margin-left: 42.62865975631933%;
  }
  .qrow-fluid .qoffset4 {
    margin-left: 36.75213675213675%;
    *margin-left: 36.645753773413354%;
  }
  .qrow-fluid .qoffset4:first-child {
    margin-left: 34.18803418803419%;
    *margin-left: 34.081651209310785%;
  }
  .qrow-fluid .qoffset3 {
    margin-left: 28.205128205128204%;
    *margin-left: 28.0987452264048%;
  }
  .qrow-fluid .qoffset3:first-child {
    margin-left: 25.641025641025642%;
    *margin-left: 25.53464266230224%;
  }
  .qrow-fluid .qoffset2 {
    margin-left: 19.65811965811966%;
    *margin-left: 19.551736679396257%;
  }
  .qrow-fluid .qoffset2:first-child {
    margin-left: 17.094017094017094%;
    *margin-left: 16.98763411529369%;
  }
  .qrow-fluid .qoffset1 {
    margin-left: 11.11111111111111%;
    *margin-left: 11.004728132387708%;
  }
  .qrow-fluid .qoffset1:first-child {
    margin-left: 8.547008547008547%;
    *margin-left: 8.440625568285142%;
  }
  .controls-qrow [class*="qspan"] + [class*="qspan"] {
    margin-left: 30px;
  }
  input.qspan12,
  textarea.qspan12,
  .uneditable-input.qspan12 {
    width: 1156px;
  }
  input.qspan11,
  textarea.qspan11,
  .uneditable-input.qspan11 {
    width: 1056px;
  }
  input.qspan10,
  textarea.qspan10,
  .uneditable-input.qspan10 {
    width: 956px;
  }
  input.qspan9,
  textarea.qspan9,
  .uneditable-input.qspan9 {
    width: 856px;
  }
  input.qspan8,
  textarea.qspan8,
  .uneditable-input.qspan8 {
    width: 756px;
  }
  input.qspan7,
  textarea.qspan7,
  .uneditable-input.qspan7 {
    width: 656px;
  }
  input.qspan6,
  textarea.qspan6,
  .uneditable-input.qspan6 {
    width: 556px;
  }
  input.qspan5,
  textarea.qspan5,
  .uneditable-input.qspan5 {
    width: 456px;
  }
  input.qspan4,
  textarea.qspan4,
  .uneditable-input.qspan4 {
    width: 356px;
  }
  input.qspan3,
  textarea.qspan3,
  .uneditable-input.qspan3 {
    width: 256px;
  }
  input.qspan2,
  textarea.qspan2,
  .uneditable-input.qspan2 {
    width: 156px;
  }
  input.qspan1,
  textarea.qspan1,
  .uneditable-input.qspan1 {
    width: 56px;
  }
  .qthumbnails {
    margin-left: -3px;
  }
  .qthumbnails > li {
    margin-left: 30px;
  }
  .qrow-fluid .qthumbnails {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .qrow {
    margin-left: -20px;
    *zoom: 1;
  }
  .qrow:before,
  .qrow:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .qrow:after {
    clear: both;
  }
  [class*="qspan"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .qcontainer,
  .navbar-static-top .qcontainer,
  .navbar-fixed-top .qcontainer,
  .navbar-fixed-bottom .qcontainer {
    width: 724px;
  }
  .qspan12 {
    width: 724px;
  }
  .qspan11 {
    width: 662px;
  }
  .qspan10 {
    width: 600px;
  }
  .qspan9 {
    width: 538px;
  }
  .qspan8 {
    width: 476px;
  }
  .qspan7 {
    width: 414px;
  }
  .qspan6 {
    width: 352px;
  }
  .qspan5 {
    width: 290px;
  }
  .qspan4 {
    width: 228px;
  }
  .qspan3 {
    width: 166px;
  }
  .qspan2 {
    width: 104px;
  }
  .qspan1 {
    width: 42px;
  }
  .qoffset12 {
    margin-left: 764px;
  }
  .qoffset11 {
    margin-left: 702px;
  }
  .qoffset10 {
    margin-left: 640px;
  }
  .qoffset9 {
    margin-left: 578px;
  }
  .qoffset8 {
    margin-left: 516px;
  }
  .qoffset7 {
    margin-left: 454px;
  }
  .qoffset6 {
    margin-left: 392px;
  }
  .qoffset5 {
    margin-left: 330px;
  }
  .qoffset4 {
    margin-left: 268px;
  }
  .qoffset3 {
    margin-left: 206px;
  }
  .qoffset2 {
    margin-left: 144px;
  }
  .qoffset1 {
    margin-left: 82px;
  }
  .qrow-fluid {
    width: 100%;
    *zoom: 1;
  }
  .qrow-fluid:before,
  .qrow-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .qrow-fluid:after {
    clear: both;
  }
  .qrow-fluid [class*="qspan"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.709239449864817%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .qrow-fluid [class*="qspan"]:first-child {
    margin-left: 0;
  }
  .qrow-fluid .controls-qrow [class*="qspan"] + [class*="qspan"] {
    margin-left: 2.7624309392265194%;
  }
  .qrow-fluid .qspan12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .qrow-fluid .qspan11 {
    width: 91.43646408839778%;
    *width: 91.38327259903608%;
  }
  .qrow-fluid .qspan10 {
    width: 82.87292817679558%;
    *width: 82.81973668743387%;
  }
  .qrow-fluid .qspan9 {
    width: 74.30939226519337%;
    *width: 74.25620077583166%;
  }
  .qrow-fluid .qspan8 {
    width: 65.74585635359117%;
    *width: 65.69266486422946%;
  }
  .qrow-fluid .qspan7 {
    width: 57.18232044198895%;
    *width: 57.12912895262725%;
  }
  .qrow-fluid .qspan6 {
    width: 48.61878453038674%;
    *width: 48.56559304102504%;
  }
  .qrow-fluid .qspan5 {
    width: 40.05524861878453%;
    *width: 40.00205712942283%;
  }
  .qrow-fluid .qspan4 {
    width: 31.491712707182323%;
    *width: 31.43852121782062%;
  }
  .qrow-fluid .qspan3 {
    width: 22.92817679558011%;
    *width: 22.87498530621841%;
  }
  .qrow-fluid .qspan2 {
    width: 14.3646408839779%;
    *width: 14.311449394616199%;
  }
  .qrow-fluid .qspan1 {
    width: 5.801104972375691%;
    *width: 5.747913483013988%;
  }
  .qrow-fluid .qoffset12 {
    margin-left: 105.52486187845304%;
    *margin-left: 105.41847889972962%;
  }
  .qrow-fluid .qoffset12:first-child {
    margin-left: 102.76243093922652%;
    *margin-left: 102.6560479605031%;
  }
  .qrow-fluid .qoffset11 {
    margin-left: 96.96132596685082%;
    *margin-left: 96.8549429881274%;
  }
  .qrow-fluid .qoffset11:first-child {
    margin-left: 94.1988950276243%;
    *margin-left: 94.09251204890089%;
  }
  .qrow-fluid .qoffset10 {
    margin-left: 88.39779005524862%;
    *margin-left: 88.2914070765252%;
  }
  .qrow-fluid .qoffset10:first-child {
    margin-left: 85.6353591160221%;
    *margin-left: 85.52897613729868%;
  }
  .qrow-fluid .qoffset9 {
    margin-left: 79.8342541436464%;
    *margin-left: 79.72787116492299%;
  }
  .qrow-fluid .qoffset9:first-child {
    margin-left: 77.07182320441989%;
    *margin-left: 76.96544022569647%;
  }
  .qrow-fluid .qoffset8 {
    margin-left: 71.2707182320442%;
    *margin-left: 71.16433525332079%;
  }
  .qrow-fluid .qoffset8:first-child {
    margin-left: 68.50828729281768%;
    *margin-left: 68.40190431409427%;
  }
  .qrow-fluid .qoffset7 {
    margin-left: 62.70718232044199%;
    *margin-left: 62.600799341718584%;
  }
  .qrow-fluid .qoffset7:first-child {
    margin-left: 59.94475138121547%;
    *margin-left: 59.838368402492065%;
  }
  .qrow-fluid .qoffset6 {
    margin-left: 54.14364640883978%;
    *margin-left: 54.037263430116376%;
  }
  .qrow-fluid .qoffset6:first-child {
    margin-left: 51.38121546961326%;
    *margin-left: 51.27483249088986%;
  }
  .qrow-fluid .qoffset5 {
    margin-left: 45.58011049723757%;
    *margin-left: 45.47372751851417%;
  }
  .qrow-fluid .qoffset5:first-child {
    margin-left: 42.81767955801105%;
    *margin-left: 42.71129657928765%;
  }
  .qrow-fluid .qoffset4 {
    margin-left: 37.01657458563536%;
    *margin-left: 36.91019160691196%;
  }
  .qrow-fluid .qoffset4:first-child {
    margin-left: 34.25414364640884%;
    *margin-left: 34.14776066768544%;
  }
  .qrow-fluid .qoffset3 {
    margin-left: 28.45303867403315%;
    *margin-left: 28.346655695309746%;
  }
  .qrow-fluid .qoffset3:first-child {
    margin-left: 25.69060773480663%;
    *margin-left: 25.584224756083227%;
  }
  .qrow-fluid .qoffset2 {
    margin-left: 19.88950276243094%;
    *margin-left: 19.783119783707537%;
  }
  .qrow-fluid .qoffset2:first-child {
    margin-left: 17.12707182320442%;
    *margin-left: 17.02068884448102%;
  }
  .qrow-fluid .qoffset1 {
    margin-left: 11.32596685082873%;
    *margin-left: 11.219583872105325%;
  }
  .qrow-fluid .qoffset1:first-child {
    margin-left: 8.56353591160221%;
    *margin-left: 8.457152932878806%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-qrow [class*="qspan"] + [class*="qspan"] {
    margin-left: 20px;
  }
  input.qspan12,
  textarea.qspan12,
  .uneditable-input.qspan12 {
    width: 710px;
  }
  input.qspan11,
  textarea.qspan11,
  .uneditable-input.qspan11 {
    width: 648px;
  }
  input.qspan10,
  textarea.qspan10,
  .uneditable-input.qspan10 {
    width: 586px;
  }
  input.qspan9,
  textarea.qspan9,
  .uneditable-input.qspan9 {
    width: 524px;
  }
  input.qspan8,
  textarea.qspan8,
  .uneditable-input.qspan8 {
    width: 462px;
  }
  input.qspan7,
  textarea.qspan7,
  .uneditable-input.qspan7 {
    width: 400px;
  }
  input.qspan6,
  textarea.qspan6,
  .uneditable-input.qspan6 {
    width: 338px;
  }
  input.qspan5,
  textarea.qspan5,
  .uneditable-input.qspan5 {
    width: 276px;
  }
  input.qspan4,
  textarea.qspan4,
  .uneditable-input.qspan4 {
    width: 214px;
  }
  input.qspan3,
  textarea.qspan3,
  .uneditable-input.qspan3 {
    width: 152px;
  }
  input.qspan2,
  textarea.qspan2,
  .uneditable-input.qspan2 {
    width: 90px;
  }
  input.qspan1,
  textarea.qspan1,
  .uneditable-input.qspan1 {
    width: 28px;
  }
}

@media (max-width: 767px) {
  body {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: -20px;
    margin-left: -20px;
  }
  .qcontainer-fluid {
    padding: 0;
  }
  .dl-horizontal dt {
    float: none;
    width: auto;
    clear: none;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .qcontainer {
    width: auto;
  }
  .qrow-fluid {
    width: 100%;
  }
  .qrow,
  .qthumbnails {
    margin-left: 0;
  }
  .qthumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="qspan"],
  .uneditable-input[class*="qspan"],
  .qrow-fluid [class*="qspan"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .qspan12,
  .qrow-fluid .qspan12 {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .qrow-fluid [class*="qoffset"]:first-child {
    margin-left: 0;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="qspan"],
  select[class*="qspan"],
  textarea[class*="qspan"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="qspan"],
  .input-append input[class*="qspan"] {
    display: inline-block;
    width: auto;
  }
  .controls-qrow [class*="qspan"] + [class*="qspan"] {
    margin-left: 0;
  }
}

.qcontainer {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}


