				{include file='tmp/comp_box1_for.tpl' M='10' Q_LP=}
				{include file='tmp/comp_box1_for.tpl' M='10'}
				{include file='tmp/comp_box1_for.tpl' M='10'}
				{include file='tmp/comp_box1_for.tpl' M='0'}
				
				{include file='tmp/comp_box1_for.tpl' M='10'}
				{include file='tmp/comp_box1_for.tpl' M='10'}
				{include file='tmp/comp_box1_for.tpl' M='10'}
				{include file='tmp/comp_box1_for.tpl' M='0'}
				
				{include file='tmp/comp_box1_for.tpl' M='10'}
				{include file='tmp/comp_box1_for.tpl' M='10'}
				{include file='tmp/comp_box1_for.tpl' M='10'}